body {
  margin: 0;
  font-family: "Exo", sans-serif;
}
* {
  box-sizing: border-box;
}
*::selection {
  background-color: #7f22fe;
  color: white;
}
.navbar {
  width: 100%;
  background-color: #f5f3ff;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
}
.logo h2 {
  margin: 0;
}
.links {
  display: none;
}
.navbar .logo svg {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #8e51ff;
  border-radius: 6px;
  padding: 10px;
  margin-right: 8px;
}
.navbarcontent {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  height: 100%;
}
/* .navbarcontent {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  flex-direction: row;
  align-items: center;
  margin: 0 120.4px;
  padding: 16px 24px;
  height: 100%;
} */

/* .navbar {
  width: 100%;
  background-color: #f5f3ff;
  height: 72px;
}
.navbarcontent {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: row;
  align-items: center;
  margin: 0 120.4px;
  padding: 16px 24px;
  height: 72px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar .logo svg {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #8e51ff;
  border-radius: 3px;
  padding: 8px;
  margin-right: 8px;
}
.links ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.links ul li {
  margin: 4px 44px 4px 0px;
}
.links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.links ul li a:hover {
  color: #8e51ff;
} */

.firstsection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 174px 24px 96px;
  gap: 64px;
}
.firstdrone {
  width: 100%;
  height: 500px;
  border: 1.6px #e0e2e6 solid;
  border-radius: 15px;
  padding: 20px;
  position: relative;
}
.firstdrone img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.firstdrone p {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: #8e51ff;
  color: white;
  font-size: 15px;
  padding: 6px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}
.firstdroneinfo {
  text-align: left;
  width: 100%;
}
.threea {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.threea p {
  background-color: #8e51ff;
  color: white;
  font-size: 15px;
  padding: 6px;
  border-radius: 20px;
  width: 120px;
  text-align: center;
  font-weight: bold;
}
.desc .p1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.desc .p1 span {
  color: #8e51ff;
}
.desc .p2 {
  font-size: 19px;
  color: #333333;
}
.desc .p3 {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.p3 .s1 {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
}
.p3 .s2 {
  font-size: 26px;
  font-weight: 400;
  color: #333333;
  text-decoration: line-through;
}
.p3 .s3 {
  font-weight: 700;
  color: red;
  font-size: 15px;
  padding: 6px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  background-color: #ffe2e2;
}
.p4 {
  font-size: 16px;
}
.b1,
.b2 {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  width: 95%;
  border-radius: 25px;
  align-self: center;
  transition: transform 0.3s;
}
.buttons1 {
  display: flex;
  flex-flow: column wrap;
  row-gap: 16px;
  align-items: center;
  margin-bottom: 10px;
}
.b1 {
  background-color: #8e51ff;
  color: white;
  border: 2px #8e51ff solid;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}
.b2 {
  background-color: white;
  color: #333333;
  border: 2px #d9dce2 solid;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}
.b1 svg {
  width: 20px;
  height: 18.5px;
  margin-right: 12px;
}
.b2 svg {
  width: 20px;
  margin-right: 12px;
  height: 18.5px;
}
.b1:hover {
  transform: scale(1.03);
}
.b2:hover {
  transform: scale(1.03);
}
.section2 {
  padding: 80px 0;
  background-color: #f7f5ff;
}
.secondsection {
  padding: 0 24px;
  margin: 0 auto;
}
.compare {
  text-align: center;
  width: 100%;
}
.howwecompare {
  font-size: 36px;
  font-weight: 700;
}
.howwecompare span {
  color: #8e51ff;
}
.headingsecond p {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 64px;
}
.table1 {
  border: 1.6px #e0e2e6 solid;
  padding: 32px;
  border-radius: 15px;
  overflow-x: scroll;
  background-color: white;
}
.headingsecond {
}
.table1 table {
  min-width: 900px;
  background-color: white;
}
.one {
  width: 183.61px;
  text-align: left;
  padding-left: 10px;
}
.two {
  width: 164.06px;
  background-color: #ede9fe;
  border-radius: 15px 15px 0px 0px;
  color: #730de7;
}
.three {
  width: 149.59px;
}
.four {
  width: 148px;
}
.five {
  width: 154.74px;
}

.table1 table thead {
  width: 800px;
  height: 132.8px;
  font-size: 18px;
  font-weight: 600;
}
.two p {
  font-size: 12px;
  color: #730de7;
  font-weight: 300;
}
.three p,
.four p,
.five p {
  font-size: 14px;
  color: #888e9b;
  font-weight: bold;
}
.secondcol p {
  color: white;
  font-size: 14px;
  background-color: #730de7;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}
.table1 table td:nth-child(2) {
  background-color: #ede9fe;
  padding: 10px 14px;
}
.secondcol {
  text-align: center;
}
.col1345 {
  color: black;
  text-align: center;
}
.table1 table td:nth-child(1) p {
  padding-left: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.secondcol p svg,
.col1345 p svg {
  width: 17.5px;
  height: 14px;
  margin-right: 8px;
}
.text-red-500 {
  color: red;
}
.text-purple-500 {
  color: #00a6f4;
}
.text-orange-500 {
  color: #615fff;
}
.text-sky-500 {
  color: #2b7fff;
}
.text-green-500 {
  color: rgb(108, 108, 14);
}
.tfoot1 {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  padding: 24px 16px;
}
.table1 tfoot {
  padding: 16px 24px;
  height: 102.4px;
}
.secondcolfoot {
  border-radius: 0 0 20px 20px;
}
.svgrate {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 5px;
  justify-content: center;
  margin: 8px 0;
}
.text-yellow-400 {
  color: #fdc700;
  width: 19px;
  height: 19px;
}
.r1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
}
.text-yellowgray-400 {
  color: rgb(188, 188, 188);
  width: 19px;
  height: 19px;
}
.color-red {
  color: red;
}
.thropy {
  margin:48px auto 0;
  background-color: white;
  text-align: center;
  width: fit-content;
}
.contentthropy {
  padding: 16px 32px;
  border-radius: 13px;
  border: #d1d5dc 0.8px solid;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.text-green-50 {
  color: green;
  width: 29.7px;
  height: 24px;
  margin-right: 12px;
}
.winner1 {
  color: green;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.winner2 {
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
  color: green;
}
.winners {
  text-align: left;
}
.thirdsection {
  margin: 0 auto;
  text-align: center;
  padding: 80px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.child-31 {
  margin-bottom: 64px;
  width: 100%;
}
.child-31 h2 span {
  color: #7f22fe;
  font-size: 36px;
  font-weight: 700;
}
.child-31 h2 {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  margin-top: 0px;
}
.child-31 p {
  font-size: 20px;
  font-weight: 400;
  margin: auto;
  width: 100%;
  margin-bottom: 64px;
}
.first4text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.child-2 {
  padding: 32px;
  border: 1.6px grey solid;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 48px;
  align-self: flex-start;
}
.fourpointnine {
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 8px;
}
.first4text .svgrate svg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.first4text .p2 {
  margin: auto;
  font-size: 15px;
}
.levels {
  display: flex;
  flex-flow: column wrap;
  row-gap: 16px;
  margin-bottom: 32px;
}
.fivestar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fivestar p {
  margin: 0;
  margin-right: 12px;
  font-size: 16px;
}
.level1 {
  width: 100%;
  height: 18.4px;
  margin-right: 12px;
  border-radius: 25px;
  background-color: white;
}
.levels span {
  font-size: 16px;
}
.yellow-1 {
  width: 78%;
  height: 18.4px;
  border-radius: 25px;
  background-color: #f0b100;
}
.yellow-2 {
  width: 15%;
  height: 18.4px;
  border-radius: 25px;
  background-color: #f0b100;
}
.yellow-3 {
  width: 5%;
  height: 18.4px;
  border-radius: 25px;
  background-color: #f0b100;
}
.yellow-4 {
  width: 1.5%;
  height: 18.4px;
  border-radius: 25px;
  background-color: #f0b100;
}
.yellow-5 {
  width: 0.5%;
  height: 18.4px;
  border-radius: 25px;
  background-color: #f0b100;
}
.levels hr {
  color: gray;
  margin: 0;
}
.child33 {
  padding: 16px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sc11 {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.sc12 {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}
.customerfeedback {
  display: flex;
  flex-flow: column wrap;
  row-gap: 24px;
  width: 100%;
}
.content-1,
.content-3 {
  padding: 32px;
  border: 1.6px gray solid;
  width: 100%;
  border-radius: 25px;
}
.content-2,
.content-4 {
  padding: 32px;
  border: 1.6px gray solid;
  width: 100%;
  border-radius: 25px;
}
.content-5 {
  padding: 32px 0px 0px;
}
.info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}
.imgg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1.6px #730de7 solid;
  margin-right: 8px;
}
.info1 p {
  margin: 0 auto;
}
.info11 {
  text-align: left;
  margin: 9px 5px 5px;
}
.info11 .job1 {
  margin: 5px auto;
  font-size: 16px;
  font-weight: 400;
}
.name1 {
  font-size: 18px;
  font-weight: bold;
}
.fiveoffive {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.fiveoffive svg {
  margin-right: 4px;
  width: 18px;
  height: 14px;
  float: left;
}
.fiveoffive p {
  margin: 0 0 0 8px ;
  float: left;
}
.clear {
  clear: both;
}
.duration {
  text-align: center;
  margin-left: auto;
}
.duration p {
  font-size: 12px;
  margin-top: 4px;
  background-color: rgb(237, 233, 254);
  color: #6418c2;
  border-radius: 25px;
  padding: 4px 5px;
  font-weight: bold;
}
.duration span {
  font-size: 14px;
}
.p111 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 16px;
  color: #333333;
  margin-top: 0;
  line-height: 29.25px;
}
.morereviews {
  padding: 12px 32px;
  font-size: 17px;
  color: white;
  background-color: #7f22fe;
  border-radius: 30px;
  border: 2px transparent solid;
  font-weight: bold;
  transition: color 0.5s, background-color 0.5s;
}
.morereviews:hover {
  color: #7f22fe;
  background-color: white;
}

.section4 {
  padding: 80px 24px;
}
.textsection4 h2 {
  margin: 0 auto 16px;
  text-align: center;
  font-size: 36px;
}

.textsection4 h2 span {
  color: #7f22fe;
}
.textsection4 {
  margin: 0 auto 64px;
  text-align: center;
}
.textsection4 p {
  font-size: 20px;
  color: #333333;
}
.products {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 100%;
}
.procontroller {
  padding: 24px;
  border: 1.6px solid gray;
  border-radius: 25px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
  width: 100%;
}
.procontroller .imgprocontroller img {
  width: 100%;
  border-radius: 15px;
  height: 192px;
  object-fit: cover;
  transition: transform 0.3s;
  overflow: auto;
}
.accessory1, .accessory2,
.accessory3, .accessory4 {
  border-radius: 25px;
  color: white;
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 4px 12px;
  font-size: 14px;
}
.accessory1{
  background-color: #00bba7;
}
.accessory2{
  background-color: #00c951;
}
.accessory3{
  background-color: #00b8db;
}
.accessory4{
  background-color: #ff6900;
}
.procontroller .imgprocontroller img:hover {
  transform: scale(1.055);
}
.procontroller .p42 {
  font-size: 20px;
  margin: 0 0 8px;
  font-weight: bold;
}
.imgprocontroller {
  margin-bottom: 24px;
}
.p43 {
  font-size: 16px;
  margin: 0 0 16px;
}
.price1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.price1 span {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  padding: 8px 0;
}
.price1 button {
  padding: 8px 16px;
  border-radius: 25px;
  color: white;
  background-color: #7f22fe;
  border: 1.6px transparent solid;
  font-size: 16px;
}
.section4latestbutton {
  text-align: center;
}
.section4latestbutton button {
  color: #7f22fe;
  background-color: white;
  border: 1.6px #7f22fe solid;
  padding: 16px 32px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
}
.section4latestbutton button:hover {
  background-color: #7f22fe;
  color: white;
}

@media (min-width: 576px) {
  ...;
}

@media (min-width: 768px) {
  ...;
}

@media (min-width: 992px) {
  ...;
}

@media (min-width: 1200px) {
  ...;
}

@media (min-width: 1400px) {
  .thirdsection {
    position: relative;
  }
  .imgg{
    width: 75px;
    height: 75px;
  }
  .child-2 {
    margin-right: 15px;
    position: sticky;
    top: 100px;
  }
  .xxl-margin {
    margin: 0 120.4px;
  }
  .links {
    display: block;
  }
  .links ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }
  .links ul li {
    margin: 4px 44px 4px 0px;
  }
  .links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.5s;
  }
  .links ul li a:hover {
    color: #8e51ff;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  .xxl-1 {
    width: 8.33%;
  }
  .xxl-2 {
    width: 16.66%;
  }
  .xxl-25 {
    width: 22.83%;
  }
  .xxl-3 {
    width: 25%;
  }
  .xxl-4 {
    width: 33.33%;
  }
  .xxl-5 {
    width: 41.66%;
  }
  .xxl-6 {
    width: 50%;
  }
  .xxl-7 {
    width: 58.33%;
  }
  .xxl-8 {
    width: 66.66%;
  }
  .xxl-9 {
    width: 75%;
  }
  .xxl-10 {
    width: 83.33%;
  }
  .xxl-11 {
    width: 91.66%;
  }
  .xxl-12 {
    width: 100%;
  }
  .table1{
    overflow:auto;
  }

